textarea.custom{
	resize: both;
    font-family:"Arial";
    font-size: 16px;
    -webkit-user-select: auto;
    border: 1px solid rgb(145, 145, 145);
    outline: none;
    overflow: scroll;
    padding: 1px;
    cursor: text;
}
th{
    text-align: center;
    vertical-align: middle;
}
td{
    text-align: center;
    vertical-align: middle;
}
